<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/index.css">
    <title>Simple Blog - Login</title>
</head>
<body>
    <header>
        <h1 class="heading">Simple Blog</h1>
        <h3 class="title">Login & Registration Form</h3>
    </header>
    <div class="main-container">
        <div class="container">
            <div class="btn-group">
                <a href="/index" class="signup">Login</a>
                <a href="/signup" class="signup">Signup</a>
            </div>
            <div class="form-section">
                <div class="login-box">
                    <form action="/login" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="email" class="email ele" placeholder="youremail@email.com" name="email" required>
                        <input type="password" class="password ele" placeholder="password" name="password" required>
                        <input type="text" name="otp" placeholder="Enter OTP" required>
                        <img src="/captcha" alt="CAPTCHA" id="captcha-image">
                        <input type="text" name="captcha" placeholder="Enter CAPTCHA">
                        <input type="hidden" name="sessionId" value="<%= sessionId %>">
                        <button type="submit" class="clkbtn">Login</button>
                    </form>
                </div>
            </div>
        </div>     
    </div>
    <script>
        document.querySelectorAll('.btn button,.btn a').forEach(item => {
            item.addEventListener('click', event => {
                let btnType = event.target.classList.contains('login')? 'login' : 'signup';
                document.querySelectorAll('.btn button,.btn a').forEach(btn => btn.classList.remove('active'));
                event.target.classList.add('active');
                document.querySelectorAll('.form-section > div').forEach(form => {
                    form.style.display = form.classList.contains(btnType + '-box')? 'block' : 'none';
                });
            });
        });

        //document.querySelectorAll('.clkbtn').forEach(btn => {
        //    btn.addEventListener('click', event => {
        //        let formType = event.target.parentElement.classList.contains('login-box') ? 'login' : 'signup';
        //        console.log(`${formType.charAt(0).toUpperCase() + formType.slice(1)} form submitted.`);
                // Here you can add code to handle form submission, e.g., send data to a server.
        //    });
        //});
    </script>
</body>
</html>
