<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog - Registration</title>
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<body>
    <header>
        <h1 class="heading">Simple Blog</h1>
        <h3 class="title">Login & Registration Form</h3>
    </header>
    <div class="main-container">
        <div class="container">
            <div class="btn-group">
                <a href="/index" class="signup">Login</a>
                <a href="/signup" class="signup">Signup</a>
            </div>
            <div class="form-section">
                <div class="login-box">
                    <form id="registrationForm">
                        <input type="text" id="username" placeholder="username" name="username" required>
                        <input type="email" id="email ele" placeholder="youremail@email.com" name="email" required>
                        <input type="password" id="password ele" placeholder="password" name="password" required>
                        <button type="submit" id="clkbtn">Sign Up</button>
                    </form>
                    <!-- Placeholder for displaying the secret key -->
                    <div id="secretKeyDisplay" style="display: none;">
                        <p>Your secret key is: <span id="secretKey"></span></p>
                        <p>Please add this key to your Google Authenticator app.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   

<script>
 document.getElementById('registrationForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData.entries());

    console.log('Form data:', data);

    const urlEncodedData = new URLSearchParams(data).toString();

    fetch('/signup', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: urlEncodedData,
    })
   .then(response => response.json())
   .then(data => {
        console.log('Success:', data);
        // Display the secret key to the user
        document.getElementById('secretKey').textContent = data.secretKey;
        document.getElementById('secretKeyDisplay').style.display = 'block';
    })
   .catch((error) => {
        console.error('Error:', error);
    });
});

</script>

</body>
</html>
